<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Hora de Sortear</title>
	</head>
	<body>
		<h1>Cadastre seu Sorteio</h1>
		<br>
	        <form action="#" th:action="@{/adicionarSorteio}" th:object="${usuarioSorteio}" method="post">
	            <table border="0" cellpadding="10">
	            
	                <tr>
	                    <td>Nome:</td>
	                    <td><input type="text" th:field="*{nome}" placeholder="Digite o nome"/></td>
	                </tr>	                
	                 <tr>
	                    <td>E-mail:</td>
	                    <td><input type="email" th:field="*{email}" placeholder="Digite o e-mail"/></td>
	                </tr>	                
	                <tr>
	                    <td colspan="2">
	                    	<button type="submit">Sortear</button>
	                    </td>
	                </tr>		                		                
	            </table> 
	        </form>	
	        <br>
	        Seu número sorteado é:
	        <tr th:text="${usuarioSorteio.sorteio}">
	        </tr>
	</body>
	
</html>